  <h5><b>アカウント情報</h5>
  <% if @customer == current_customer %>
    <%= link_to "編集する", edit_public_customer_path(@customer), class:"btn btn-success ml-2" %>
  <% end %>
      <table class="table table-striped-columns">
        <tr><%= image_tag @customer.get_profile_image, size:'100x100' %></tr>
        <tr>
          <th class="table-light">ユーザー名</th>
          <td>
            <%= @customer.name %>
          </td>
        </tr>

        <tr>
          <th class="table-light">メールアドレス</th>
          <td>
            <%= @customer.email %>
          </td>
        </tr>

        <tr>
          <th class="table-light" >自己紹介</th>
          <td>
            <%= @customer.introduction %>
          </td>
        </tr>

        <tr>
          <th class="table-light">年齢</th>
          <td>
            <%= @customer.age %> 歳
          </td>
        </tr>

        <tr>
          <th class="table-light">身長</th>
          <td>
            <%= @customer.height %> cm
          </td>
        </tr>

        <tr>
          <th class="table-light">体重</th>
          <td>
            <%= @customer.weight %> kg
          </td>
        </tr
      </table>