<% meals.each do |meal| %>
  <div class="records_from px-4">
    <div class="d-flex pt-2">
      <div>
        <%= link_to public_customer_path(meal.customer), class: "profile-link" do %>
          <%= image_tag meal.customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
        <% end %>
      </div>
      <div class="username">
        <%= link_to meal.customer.name, public_customer_path(meal.customer), class: "name-link"%>
      </div>
      <div class="time ml-2">
        <p class="mini-words"><%= time_ago_in_words(meal.created_at) %>前</p>
      </div>
    </div>
    <div class="pl40 pt-2">
      <div class="row">
        <div class="col-6">
          <%= meal.body %>
        </div>
      </div>
      <div class="mt-4 mb-4">
        <% if meal.image.attached? %>
          <%= image_tag meal.image, class: "meal-img-top img-fluid" %>
        <% end %>
      </div>
      <div class=""><%= meal.category %></div>
      <div class=""><%= meal.body_weight.present? ? "#体重{meal.body_weight}kg" : "" %></div>
      <% meal.meal_contents.each do |meal_content| %>
      <table class="table table-bordered" style="width: 50%;">
        <tr class="meal-tr">
          <td class="col-1"><%= meal_content.meal_summary %></td>
          <td class="col-3"><%= meal_content.eat_meal %></td>
          <td class="col-1"><%= meal_content.kcal %> kcal</td>
        </tr>
      </table>
      <% end %>
      <div class="icon">
        <div>
          <i class="fa-regular fa-comment"></i>
          <span class="mini-words"><%= meal.meal_comments.count %></span>
          <span id="favorite_btn_<%= meal.id %>">
            <%= render "public/meal_favorites/meal_favorite_btn", meal: meal %>
          </span>
        </div>
        <div>
          <%= link_to public_meal_path(meal), class: "btn btn-outline-dark", type: "button" do %>
            <p class="a-button">詳細</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
