<%= render 'layouts/errors', obj: @meal %>
<div class="px-4 pt-2 border-bottom">
  <div class="d-flex">
    <% if current_customer %>
      <div class="">
        <%= link_to public_customer_path(current_customer), class: "profile-link" do %>
          <%= image_tag current_customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
        <% end %>
      </div>
       <div class="username">
        <%= link_to current_customer.name, public_customer_path(current_customer), class: "name-link"%>
      </div>
    <% end %>
  </div>

  <%= form_with model: @meal, url: public_meal_path, local: true, method: :patch, class: "pl40 pt-2" do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.text_area :body, value: @meal.body, class: "form-control", rows: "4", cols: "30" %>
      </div>
    </div>
    <div class="mt-2">
      <img id="preview">
    </div>
    <% if @meal.image.attached? %>
    <%= image_tag @meal.image, class: "meal-img-top img-fluid" %>
      <div class="mt-1 mb-2">
        <button id="delete-button" type="button" style="display: none;" class="btn btn-outline-danger" >削除</button>
      </div>
      <div class="d-flex">
        <div>
          <%= f.select :category, [["朝食", "朝食"], ["昼食", "昼食"], ["夕食", "夕食"], ["間食", "間食"]], include_blank: "朝食など選択" %>
        </div>
        <div class="col-2">
          <%= f.number_field :body_weight, placeholder: "体重", class: "form-control" %>
        </div>
      </div>
      <div id='meal_contents'>
        <%= f.fields_for :meal_contents do |meal_content| %>
          <%= render 'meal_content_fields', :f => meal_content %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association '詳細を追加', f, :meal_contents, class: "btn btn-outline-dark mt-2" %>
        </div>
      </div>
      <div class="icon">
        <div>
          <label for="file-upload" class="file-input-label">
            <i class="fa-solid fa-image fa-2x"></i>
          </label>
          <%= f.file_field :image, id: "file-upload", class: "file-input", style: "display: none;" %>
        </div>
        <div>
          <button type="submit" class="btn btn-outline-dark"><p>変更する</p></button>
        </div>
      </div>
    <% else %>
      <div class="mt-1 mb-1">
        <button id="delete-button" type="button" style="display: none;" class="btn btn-outline-danger">削除</button>
      </div>
      <div class="d-flex">
        <div>
          <%= f.select :category, [["朝食", "朝食"], ["昼食", "昼食"], ["夕食", "夕食"], ["間食", "間食"]], include_blank: "朝食など選択" %>
        </div>
        <div class="col-2">
          <%= f.number_field :body_weight, placeholder: "体重", class: "form-control" %>
        </div>
      </div>
      <div id='meal_contents'>
        <%= f.fields_for :meal_contents do |meal_content| %>
          <%= render 'meal_content_fields', :f => meal_content %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association '詳細を追加', f, :meal_contents, class: "btn btn-outline-dark mt-2" %>
        </div>
      </div>
      <div class="icon">
        <div class="">
          <label for="file-upload" class="file-input-label">
            <i class="fa-solid fa-image fa-2x"></i>
          </label>
          <%= f.file_field :image, id: "file-upload", class: "file-input", style: "display: none;" %>
        </div>
        <div>
          <button type="submit" class="btn btn-outline-dark"><p>変更する</p></button>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
$('#file-upload').on('change', function (e) {
  var reader = new FileReader();
  reader.onload = function (e) {
    $("#preview").attr('src', e.target.result);
  }
  reader.readAsDataURL(e.target.files[0]);
  $(".meal-img-top").hide();
  $('#delete-button').show();
});
$('#delete-button').on('click', function () {
  $('#preview').attr('src', '');
  $('#delete-button').hide();
});

$(document).ready(function() {
  function toggleDeleteButtonVisibility() {
    $('.hide-if-last').toggle($('.nested-fields').length > 1);
  }

  toggleDeleteButtonVisibility();

  $(document).on('click', '.btn-outline-dark', function() {
    $(this).closest('.nested-fields').remove();
    toggleDeleteButtonVisibility();
  });
});
</script>