<%= render 'layouts/errors', obj: @meal %>
<div class="meal-from-container py-10">
  <div class="px-4">
    <div class="d-flex">
      <% if current_customer %>
        <div class="">
          <%= link_to public_customer_path(current_customer), class: "profile-link" do %>
            <%= image_tag current_customer.get_profile_image, size:'40x40', class: "rounded-circle" %>
          <% end %>
        </div>
        <div class="username">
          <%= current_customer.name %>
        </div>
      <% end %>
    </div>
    <%= form_with model: @meal, url: public_meals_path, local: true, class: "pl40 pt-2" do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.text_area :body, class: "form-control", rows: "4", cols: "30" %>
      </div>
    </div>
    <div class="mt-2"><%= f.file_field :image %></div>
    <div class="d-flex">
      <div class="mt-2 mr-2"><%= f.select :category, [["朝食", "朝食"], ["昼食", "昼食"], ["夕食", "夕食"], ["間食", "間食"]], include_blank: "朝食など選択" %></div>
      <div class="mt-2 mx-2"><%= f.select :meal_summary, [["主食", "主食"], ["主菜", "主菜"], ["副菜", "副菜"]], include_blank: "主食など選択" %></div>
      <div class="mt-2 mx-2"><%= f.text_field :eat_meal, placeholder: "例：蒸し鶏" %></div>
      <div class="mt-2 mx-2"><%= f.number_field :kcal %><%= f.label :kcal %></div>
    </div>
    <div class="d-flex">
      <div><%= f.submit '記録する', class: 'btn btn-success' %></div>
    </div>
    <% end %>
  </div>
</div>
<hr>

<div class="">
  <% @meals.each do |meal| %>
  <div class="border-bottom px-4">
    <a href="<%= public_meal_path(meal) %>"></a>
      <div class="d-flex mt-2">
        <div class="">
          <%= link_to public_customer_path(meal.customer), class: "profile-link" do %>
            <%= image_tag meal.customer.get_profile_image, size:'40x40', class: "rounded-circle" %>
          <% end %>
        </div>
        <div class="username">
          <%= meal.customer.name %>
          <%= time_ago_in_words(meal.created_at) %>前
        </div>
      </div>
      <div class="pl40 pt-2">
        <div class="row">
          <div class="col-6">
            <%= meal.body %>
          </div>
        </div>
        <div class="mt-2">
          <% if meal.image.attached? %>
            <%= image_tag meal.image, class: "meal-img-top img-fluid" %>
          <% end %></div>
        <div class="d-flex">
          <table class="table table-bordered mt-3" style="width: 50%;">
            <tr class="">
              <td class="col-1"><%= meal.category %></td>
              <td class="col-1"><%= meal.meal_summary %></td>
              <td class="col-3"><%= meal.eat_meal %></td>
              <td class="col-1"><%= meal.kcal %> kcal</td>
            </tr>
          </table>
        </div>
        <a href="<%= public_meal_path(meal) %>"></a>
      </div>
    </div>
  <% end %>
</div>
