<%= render 'layouts/errors', obj: @meal %>
<div class="meal-from-container py-10">
  <div class="meal w-100 mx-auto">
    <div class="meal-body">
      <div class="row">
        <div class="col-12">
          <div class="d-flex">
            <% if current_customer %>
              <%= link_to public_customer_path(current_customer), class: "profile-link" do %>
                <%= image_tag current_customer.get_profile_image, size:'40x40', class: "rounded-circle" %>
              <% end %>
              <div class="meal-name mt-2">
                <%= current_customer.name %>
              </div>
            <% end %>
          </div>
          <%= form_with model: @meal, url: public_meals_path, local: true do |f| %>
          <div class="d-flex ml-4">
            <p class="meal-text col-6 mb-2 mt-2">
              <%= f.text_area :body, class: "form-control", style: "height: 150px;" %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex ml-4">
          <div class="col-8 mt-3 ml-3">
            <%= f.file_field :image %>
          </div>
        </div>
      </div>

      <div class="d-flex ml-4">
        <div class="col-12 mt-4">
          <table class="table table-bordered" style="width: 500px;">
            <tr>
              <td><%= f.label :カテゴリー %><%= f.select :category, [["朝食", "朝食"], ["昼食", "昼食"], ["夕食", "夕食"], ["間食", "間食"]], include_blank: "選択して下さい" %></td>
              <td><%= f.label :食事概要 %><%= f.select :meal_summary, [["主食", "主食"], ["主菜", "主菜"], ["副菜", "副菜"]], include_blank: "選択して下さい" %></td>
              <td><%= f.label :食べた物 %><%= f.text_field :eat_meal %></td>
              <td><%= f.label :kcal %><%= f.number_field :kcal %></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="d-flex ml-4">
        <div class="d-flex col-12 mt-2">
          <button type="button" id="add-meal" class="btn btn-primary">＋</button>
            <%= f.submit '記録する', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="meal-list-container py-10">
  <% @meals.each do |meal| %>
  <div class="meal w-100 mx-auto">
    <a href="<%= public_meal_path(meal) %>">
    <div class="meal-body">
      <div class="row">
        <div class="col-12">
          <div class="d-flex">
            <%= link_to public_customer_path(meal.customer), class: "profile-link" do %>
              <%= image_tag meal.customer.get_profile_image, size:'40x40', class: "rounded-circle" %>
            <% end %>
            <div class="meal-name mt-2">
              <%= meal.customer.name %>
              <%= time_ago_in_words(meal.created_at) %>前
            </div>
          </div>
          <div class="d-flex ml-4">
            <p class="meal-text col-12 mb-2">
              <%= meal.body %>
            </p>
          </div>
        </div>
      </div>

      <% if meal.image.attached? %>
      <div class="row">
        <div class="d-flex ml-4">
          <div class="col-8 ml-2">
            <%= image_tag meal.image, class: "meal-img-top img-fluid" %>
          </div>
        </div>
      </div>
      <% end %>

      <div class="col-12 ml-4 mt-4">
        <table class="table table-bordered" style="width: 500px;">
          <tr>
            <td style="width: 100px; padding-left: 5px;"><%= meal.category %></td>
            <td style="width: 100px; padding-left: 5px;"><%= meal.meal_summary %></td>
            <td style="width: 400px; padding-left: 5px;"><%= meal.eat_meal %></td>
            <td style="width: 100px; padding-left: 5px;"><%= meal.kcal %> kcal</td>
          </tr>
        </table>
      </div>
    </div>

    <a href="<%= public_meal_path(meal) %>"></a>
  </div>
  <% end %>
</div>

<script>
  document.querySelectorAll('.meal').forEach(meal => {
    meal.addEventListener('click', () => {
      const link = meal.querySelector('a');
      link.click();
    });
  });
</script>

<style>
  .meal-img-top {
    border-radius: 20px;
    max-width: 95%;
    max-height: 100%;
    object-fit: contain;
  }

  .meal:hover {
  background-color: rgba(0, 0, 0, 0.02);
  }

  .profile-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

</style>



