<div class="list_buttons border-bottom">
  <div class="list_button">
    <%= link_to '食事', public_meals_path(@customers), class: "name-link" %>
  </div>
  <div class="list_button">
    <%= link_to 'トレーニング',public_trainings_path(@customers), class: "name-link" %>
  </div>
</div>
<%= render 'layouts/errors', obj: @meal %>
<div class="px-4 pt-2 border-bottom">
  <div class="d-flex">
    <% if current_customer %>
      <div class="">
        <%= link_to public_customer_path(current_customer), class: "profile-link" do %>
          <%= image_tag current_customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
        <% end %>
      </div>
       <div class="username">
        <%= link_to current_customer.name, public_customer_path(current_customer), class: "name-link" %>
      </div>
    <% end %>
  </div>
  <%= form_with model: @meal, url: public_meals_path, local: true, class: "pl40 pt-2" do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.text_area :body, class: "form-control", rows: "4", cols: "30" %>
      </div>
    </div>
    <div class="mt-3">
      <img id="preview" style="width:40%;">
    </div>
    <div class="mt-1 mb-1">
      <button id="delete-button" type="button" style="display: none;" class="btn btn-outline-danger" >削除</button>
    </div>
    <div class="d-flex">
      <div>
        <%= f.select :category, [["朝食", "朝食"], ["昼食", "昼食"], ["夕食", "夕食"], ["間食", "間食"]], include_blank: "朝食など選択" %>
      </div>
      <div class="mx-3">
        <%= f.number_field :body_weight, class: "form-control", placeholder: "体重"%>
      </div>
      <div class="mt-2 mr-4"><%= f.label :kg %></div>
    </div>
    <div id='meal_contents'>
      <%= f.fields_for :meal_contents do |meal_content| %>
        <%= render 'meal_content_fields', :f => meal_content %>
      <% end %>
      <div>
        <%= link_to_add_association '詳細を追加', f, :meal_contents, class: "btn btn-outline-dark mt-2" %>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 20px 0px 0px 0px ;">
      <div>
        <label for="file-upload" class="file-input-label">
          <i class="fa-solid fa-image fa-2x"></i>
        </label>
        <%= f.file_field :image, id: "file-upload", class: "file-input", style: "display: none;" %>
      </div>
      <div>
        <button type="submit" class="btn btn-outline-dark"><p class="a-button">記録する</p></button>
      </div>
    </div>
  <% end %>
</div>

<% @meals.each do |meal| %>
  <div class="border-bottom px-4">
    <div class="d-flex pt-2">
      <div class="">
        <%= link_to public_customer_path(meal.customer), class: "profile-link" do %>
          <%= image_tag meal.customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
        <% end %>
      </div>
      <div class="username">
        <%= link_to meal.customer.name, public_customer_path(meal.customer), class: "name-link"%>
      </div>
      <div class="time ml-2" style="font-size: smaller; opacity: 0.8;">
        <%= time_ago_in_words(meal.created_at) %>前
      </div>
    </div>
    <div class="pl40 pt-2">
      <div class="row">
        <div class="col-6">
          <%= meal.body %>
        </div>
      </div>
      <div class="mt-4 mb-3">
        <% if meal.image.attached? %>
          <%= image_tag meal.image, class: "meal-img-top img-fluid" %>
        <% end %>
      </div>
      <div class=""><%= meal.category %></div>
      <div class=""><%= meal.body_weight.present? ? "#{meal.body_weight}kg" : "" %></div>
      <% meal.meal_contents.each do |meal_content| %>
      <table class="table table-bordered" style="width: 50%;">
        <tr class="meal-tr">
          <td class="col-1"><%= meal_content.meal_summary %></td>
          <td class="col-3"><%= meal_content.eat_meal %></td>
          <td class="col-1"><%= meal_content.kcal %> kcal</td>
        </tr>
      </table>
      <% end %>
      <div style="display: flex; justify-content: space-between; padding: 20px 10px 10px 0px ;">
        <div>
          <i class="fa-regular fa-comment"></i>
          <span style="font-size: smaller; opacity: 0.8;"><%= meal.meal_comments.count %></span>
          <span id="favorite_btn_<%= meal.id %>">
            <%= render "public/meal_favorites/meal_favorite_btn", meal: meal %>
          </span>
        </div>
        <div>
          <%= link_to public_meal_path(meal), class: "btn btn-outline-dark", type: "button" do %>
            <p class="a-button">詳細</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script>
$('#file-upload').on('change', function (e) {
  var reader = new FileReader();
  reader.onload = function (e) {
    $("#preview").attr('src', e.target.result);
  }
  reader.readAsDataURL(e.target.files[0]);

  $('#delete-button').show();
});
$('#delete-button').on('click', function () {

  $('#preview').attr('src', '');

  $('#delete-button').hide();
});

$(document).on('turbolinks:load', function() {
    $('#meal_contents')
      .on('cocoon:before-remove', function(e) {
        if ($('#meal_contents .nested-fields').length <= 1) {
          alert('最低1つは必要です。');
          e.preventDefault();
        }
      });
  });
</script>
