<div id="meal-forms">
  <div class="form-group">
    <%= link_to public_customer_path(@meal.customer) do %>
      <span class="col-md-1"><%= image_tag @meal.customer.get_profile_image, size:'50x50' %></span>
    <% end %>
    <% if @meal.image.attached? %>
      <%= image_tag @meal.image, size:'200x200' %>]
    <% end %>
  </div>
  <div class="form-group">
    <span class="col-md-1"><%= @meal.customer.name %></span>
  </div>
   <div class="form-group">
    <span class="col-md-4"><%= @meal.body %></span>
  </div>
  <div class="form-group">
    <span class="col-md-1"><%= @meal.category %></span>
  </div>
  <div class="row">
    <div class="col-md-1">
      <div class="form-group">
        <span class="col-md-2"><%= @meal.meal_summary %></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <span class="col-md-1"><%= @meal.eat_meal %></span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <span class="col-md-1"><%= @meal.kcal %> kcal</span>
      </div>
    </div>
    <% if @meal.customer == current_customer %>
      <div class="col-md-1">
        <div class="form-group">
          <span class="col-md-1"><%= link_to '編集',  edit_public_meal_path(@meal), class: "btn btn-sm btn-success" %></span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <span class="col-md-1"><%= link_to "削除", public_meal_path(@meal.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <span class="col-md-1"><%= link_to "一覧", public_meals_path, class: "btn btn-sm btn-primary" %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>

