<div class="">
    <div class="border-bottom px-4">
      <div class="d-flex pt-2">
        <div class="">
          <%= link_to public_customer_path(@meal.customer), class: "profile-link" do %>
            <%= image_tag @meal.customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
          <% end %>
        </div>
        <div class="username">
          <%= link_to @meal.customer.name, public_customer_path(@meal.customer), class: "name-link"%>
        </div>
        <div class="time ml-2" style="font-size: smaller; opacity: 0.8;">
          <%= time_ago_in_words(@meal.created_at) %>前
        </div>
        <% if @meal.customer == current_customer %>
        <div class="d-flex" style="margin-left: 550px;">
          <div class="px-2">
            <span><%= link_to '編集', edit_public_meal_path(@meal), class: "btn btn-sm btn-success" %></span>
          </div>
          <div class="px-2">
            <span><%= link_to "削除", public_meal_path(@meal.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></span>
          </div>
          <div class="px-2">
            <span><%= link_to "一覧", public_meals_path, class: "btn btn-sm btn-primary" %></span>
          </div>
        </div>
        <% end %>
      </div>
      <div class="pl40 pt-2">
        <div class="row">
          <div class="col-6">
            <%= @meal.body %>
          </div>
        </div>
        <div class="mt-2">
          <% if @meal.image.attached? %>
            <%= image_tag @meal.image, class: "meal-img-top img-fluid" %>
          <% end %>
        </div>
        <div><%= @meal.category %></div>
        <div>体重 <%= @meal.body_weight %> kg</div>
        <% @meal.meal_contents.each do |meal_content| %>
        <table class="table table-bordered" style="width: 70%;">
          <tr class="">
            <td class="col-2"><%= meal_content.meal_summary %></td>
            <td class="col-4"><%= meal_content.eat_meal %></td>
            <td class="col-2"><%= meal_content.kcal %> kcal</td>
          </tr>
        </table>
        <% end %>
        <div style="display: flex; justify-content: space-between; padding: 20px 10px 10px 0px ;">
          <div>
            <i class="fa-regular fa-comment"></i>
            <span id="comment_counter" style="font-size: smaller; opacity: 0.8;">
              <%= render "public/meal_comments/counter", meal: @meal %>
            </span>
            <span id="favorite_btn_<%= @meal.id %>">
              <%= render "public/meal_favorites/meal_favorite_btn", meal: @meal %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="comment_index">
        <%= render "public/meal_comments/index", meal: @meal %>
      </div>
      <%= render "public/meal_comments/from", meal: @meal, meal_comment: @meal_comment %>
    </div>
</div>