<div class="border-bottom mt-3 pb-3">
  <h3 style="text-align:center">フォロワー</h2>
</div>
<% if @customers.exists? %>
　<% @customers.each do |customer| %>
    　<div style="display: flex; justify-content: space-between; padding: 0px 10px 10px 10px ;" class=" border-bottom">
        <div style="display: flex;">
          <%= image_tag customer.get_profile_image, size: '40x40', class: "rounded-circle border" %>
          <div>
          　<%= link_to customer.name, public_customer_path(customer), class: "name-link" %><br>
          　<span class="name-link"><%= customer.introduction %></span>
          </div>
      　</div>
      　<div>
        　<% if current_customer != customer %>
            <% if current_customer.following?(customer) %>
              <%= form_tag public_customer_relationships_path(customer.id), method: :delete do %>
                <%= submit_tag "フォロー解除", class: "btn btn-outline-danger",style: "margin-top: -40px" %>
              <% end %>
            <% else %>
              <%= form_tag public_customer_relationships_path(customer.id), method: :post do %>
                <%= submit_tag "フォロー", class: "btn btn-outline-dark",style: "margin-top: -40px" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>