<% trainings.each do |training| %>
  <div class="records_from px-4">
    <div class="d-flex pt-2">
      <div class="">
        <%= link_to public_customer_path(training.customer), class: "profile-link" do %>
          <%= image_tag training.customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
        <% end %>
      </div>
      <div class="username">
        <%= link_to training.customer.name, public_customer_path(training.customer), class: "name-link"%>
      </div>
      <div class="time ml-2">
        <p class="mini-words"><%= time_ago_in_words(training.created_at) %>前</p>
      </div>
    </div>
    <div class="pl40 pt-2">
      <div class="row">
        <div class="col-6">
          <%= training.body %>
        </div>
      </div>
      <div class="mt-4 mb-4">
        <% if training.image.attached? %>
          <%= image_tag training.image, class: "meal-img-top img-fluid" %>
        <% end %>
      </div>
      <div><%= training.body_weight.present? ? "体重: #{training.body_weight}kg" : "" %></div>
      <% training.training_contents.each do |training_content| %>
      <table class="table table-bordered" style="width: 80%;">
        <tr>
          <td class="col-1"><%= training_content.body_parts %></td>
          <td class="col-3"><%= training_content.exercise %></td>
          <td class="col-1"><%= training_content.weight %> kg</td>
          <td class="col-1"><%= training_content.sets %> セット</td>
          <td class="col-1"><%= training_content.reps %> 回</td>
        </tr>
      </table>
      <% end %>
      <div class="icon">
        <div>
          <i class="fa-regular fa-comment"></i>
          <span class="mini-words"><%= training.training_comments.count %></span>
          <span id="favorite_btn_<%= training.id %>">
            <%= render "public/training_favorites/training_favorite_btn", training: training %>
          </span>
        </div>
        <div>
          <%= link_to public_training_path(training), class: "btn btn-outline-dark", type: "button" do %>
            <p class="a-button">詳細</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>