<div class="nested-fields">
  <div class="d-flex">
    <div class="mt-2 mr-1">
      <%= f.select :body_parts, [["胸", "胸"], ["肩", "肩"], ["腕", "腕"],["背中", "背中"],["足", "足"]], { :include_blank => "部位を選択" }, :required => true %>
    </div>
    <div class="mt-2 mx-1">
      <%= f.text_field :exercise, required: true, placeholder: "種目名", class: "form-control", style: "width: 250px;" %>
    </div>
    <div class="mt-2 mx-1">
      <%= f.number_field :weight, required: true, placeholder: "重量", class: "form-control", style: "width: 100px;" %>
    </div>
    <div class="mt-2 mx-1">
      <%= f.number_field :sets, required: true, placeholder: "セット数", class: "form-control", style: "width: 130px;" %>
    </div>
    <div class="mt-2 mx-1">
      <%= f.number_field :reps, required: true, placeholder: "回数", class: "form-control", style: "width: 100px;" %>
    </div>
    <div class="mt-2">
      <%= link_to_remove_association "削除", f, class: "btn btn-outline-danger mt-1 ml-4" %>
    </div>
  </div>
</div>