<%= render 'layouts/errors', obj: @training %>
<div class="px-4 pt-2 border-bottom">
  <div class="d-flex">
    <% if current_customer %>
      <div class="">
        <%= link_to public_customer_path(current_customer), class: "profile-link" do %>
          <%= image_tag current_customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
        <% end %>
      </div>
       <div class="username">
        <%= link_to current_customer.name, public_customer_path(current_customer), class: "name-link"%>
      </div>
    <% end %>
  </div>

  <%= form_with model: @training, url: public_trainings_path, local: true, class: "pl40 pt-2" do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.text_area :body, class: "form-control", rows: "4", cols: "30" %>
      </div>
    </div>
    <div class="mt-2 mb-2">
      <img id="preview" style="width:40%;">
    </div>
    <div class="mt-1">
        <button id="delete-button" type="button" style="display: none;" >削除</button>
    </div>
    

     <div id='training_contents'>
      <%= f.fields_for :training_contents do |training_content| %>
        <%= render 'training_content_fields', :f => training_content %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association '詳細を追加', f, :training_contents %>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 20px 0px 0px 0px ;">
      <div>
        <label for="file-upload" class="file-input-label">
          <i class="fa-solid fa-image fa-2x"></i>
        </label>
        <%= f.file_field :image, id: "file-upload", class: "file-input", style: "display: none;" %>
      </div>
      <div>
        <form>
          <input class="radius-pixel-30" type="submit" value="記録する">
        </form>
      </div>
    </div>

  <% end %>
</div>

<% @trainings.each do |training| %>
  <div class="border-bottom px-4">
    <div class="d-flex pt-2">
      <div class="">
        <%= link_to public_customer_path(training.customer), class: "profile-link" do %>
          <%= image_tag training.customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
        <% end %>
      </div>
      <div class="username">
        <%= link_to training.customer.name, public_customer_path(training.customer), class: "name-link"%>
      </div>
      <div class="time ml-2" style="font-size: smaller; opacity: 0.8;">
        <%= time_ago_in_words(training.created_at) %>前
      </div>
    </div>
    <div class="pl40 pt-2">
      <div class="row">
        <div class="col-6">
          <%= training.body %>
        </div>
      </div>
      <div class="mt-2">
        <% if training.image.attached? %>
          <%= image_tag training.image, class: "meal-img-top img-fluid" %>
        <% end %>
      </div>
      <div><%= training.body_parts %></div>
      <div class="">
        <% training.training_contents.each do |training_content| %>
        <table class="table table-bordered mt-3" style="width: 70%;">
          <tr class="">
            <td class="col-2"><%= training_content.exercise %></td>
            <td class="col-1"><%= training_content.weight %> kg</td>
            <td class="col-1"><%= training_content.sets %> セット</td>
            <td class="col-1"><%= training_content.reps %> 回</td>
          </tr>
        </table>
        <% end %>
      </div>
      <div style="display: flex; justify-content: space-between; padding: 20px 10px 10px 0px ;">
        <div>
          <i class="fa-regular fa-comment"></i>
          <span style="font-size: smaller; opacity: 0.8;"><%= training.training_comments.count %></span>
          <div id="favorite_btn_<%= training.id %>">
            <%= render "public/training_favorites/training_favorite_btn", training: training %>
          </div>
        </div>
        <div>
          <form>
            <%= link_to '詳細', public_training_path(training), class: "radius-pixel-30" %>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script>
$('#file-upload').on('change', function (e) {
  var reader = new FileReader();
  reader.onload = function (e) {
    $("#preview").attr('src', e.target.result);
  }
  reader.readAsDataURL(e.target.files[0]);

  $('#delete-button').show();
});
$('#delete-button').on('click', function () {

  $('#preview').attr('src', '');

  $('#delete-button').hide();
});
</script>
