<div class="">
    <div class="border-bottom px-4">
      <div class="d-flex pt-2">
        <div class="">
          <%= link_to public_customer_path(@training.customer), class: "profile-link" do %>
            <%= image_tag @training.customer.get_profile_image, size:'40x40', class: "rounded-circle border" %>
          <% end %>
        </div>
        <div class="username">
          <%= link_to @training.customer.name, public_customer_path(@training.customer), class: "name-link"%>
        </div>
        <div class="time ml-2" style="font-size: smaller; opacity: 0.8;">
          <%= time_ago_in_words(@training.created_at) %>前
        </div>
        <% if @training.customer == current_customer %>
        <div class="d-flex" style="margin-left: 550px;">
          <div class="px-2">
            <span><%= link_to '編集', edit_public_training_path(@training), class: "btn btn-sm btn-success" %></span>
          </div>
          <div class="px-2">
            <span><%= link_to "削除", public_training_path(@training.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></span>
          </div>
          <div class="px-2">
            <span><%= link_to "一覧", public_trainings_path, class: "btn btn-sm btn-primary" %></span>
          </div>
        </div>
        <% end %>
      </div>
      <div class="pl40 pt-2">
        <div class="row">
          <div class="col-6">
            <%= @training.body %>
          </div>
        </div>
        <div class="mt-2">
          <% if @training.image.attached? %>
            <%= image_tag @training.image, class: "meal-img-top img-fluid" %>
          <% end %>
        </div>
        <div>体重 <%= @training.body_weight %> kg</div>
        <% @training.training_contents.each do |training_content| %>
        <table class="table table-bordered" style="width: 90%;">
          <tr class="">
            <td class="col-1"><%= training_content.body_parts %></td>
            <td class="col-4"><%= training_content.exercise %></td>
            <td class="col-1"><%= training_content.weight %> kg</td>
            <td class="col-2"><%= training_content.sets %> セット</td>
            <td class="col-1"><%= training_content.reps %> 回</td>
          </tr>
        </table>
        <% end %>
        <div style="display: flex; justify-content: space-between; padding: 20px 10px 10px 0px ;">
          <div>
            <i class="fa-regular fa-comment"></i>
            <span id="comment_counter" style="font-size: smaller; opacity: 0.8;">
              <%= render "public/training_comments/counter", training: @training %>
            </span>
            <span id="favorite_btn_<%= @training.id %>">
              <%= render "public/training_favorites/training_favorite_btn", training: @training %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="comment_index">
        <%= render "public/training_comments/index", training: @training %>
      </div>
      <%= render "public/training_comments/from", training: @training, training_comment: @training_comment %>
    </div>
</div>