<div class="admin_user_show">
  <div class="d-flex">
    <%= image_tag @customer.get_profile_image, size:'100x100', class: "rounded-circle border" %>
    <div class="ml-4">
      <div class="user-edit-name">
        <div class="mt-1 name-link" style="font-size: 25px;">
          <%= @customer.name %>
        </div>
      </div>
      <div class="mt-1 name-link">
        <%= @customer.email %>
      </div>
      <div class="d-flex mt-1">
        <div class="d-flex">
          <div>
            <span class="mini-words">年齢</span>
          </div>
          <div class="ml-1 name-link">
            <%= @customer.age %>歳
          </div>
        </div>
        <div class="d-flex ml-4">
          <div>
            <span class="mini-words">身長</span>
          </div>
          <div class="ml-1 name-link">
            <%= @customer.height %>cm
          </div>
        </div>
        <div class="d-flex ml-4">
          <div>
            <span class="mini-words">体重</span>
          </div>
          <div class="ml-1 name-link">
            <%= @customer.weight %>kg
          </div>
        </div>
      </div>
      <div class="mt-1 mb-3 name-link" style="font-size: 15px;">
        <%= @customer.introduction %>
      </div>
      <div class="d-flex">
        <div>
          <span class="mini-words">会員ステータス</span>
        </div>
        <div class="ml-1 name-link">
          <%= @customer.customer_status %>
        </div>
      </div>
    </div>
  </div>
  <div class="user-edit-name">
    <div>
      <%= link_to '編集', edit_admin_customer_path,class: "btn btn-outline-dark" %>
    </div>
    <div>
      <%= link_to '削除', admin_customer_path(@customer), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>
<div class="select_button border-bottom pb-3 pt-3">
  <%= render 'public/shared/select' %>
</div>
<div id="rendering-area"></div>
<script>
$(function() {
  $("#rendering-area").html("<%= j render('admin/meals/index', meals: @meals) %>");
  $("#meal-button").on("click", function() {
    $("#rendering-area").html("<%= j render('admin/meals/index', meals: @meals) %>");
  });
  $("#training-button").on("click", function() {
    $("#rendering-area").html("<%= j render('admin/trainings/index', trainings: @trainings) %>");
  });
});
</script>



