<!DOCTYPE html>
<html>
  <head>
    <title>Track Fit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9101098a47.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="test_container">
      <div class="side">
        <ul class = "navbar-nav ml-auto">
          <% if admin_signed_in? %>
          <li class="nav-item"><%= link_to 'ログアウト',destroy_admin_session_path, method: :delete ,class: 'btn btn-custom-pink btn-custom-white nav-link mr-3'%></li>
          <li class="nav-item"><%= link_to 'カテゴリー',admin_categories_path ,class: 'btn btn-custom-pink btn-custom-white nav-link mr-3'%></li>


          <% elsif customer_signed_in? %>
          <li class="nav-item"><%= link_to 'マイページ',public_customer_my_page_path ,class: 'btn btn-custom-pink btn-custom-white nav-link mr-3'%></li>
          <li class="nav-item"><%= link_to 'Homes',public_records_path ,class: 'btn btn-custom-pink btn-custom-white nav-link mr-3'%></li>
          <li class="nav-item"><%= link_to 'ログアウト',destroy_customer_session_path, method: :delete ,class: 'btn btn-custom-pink btn-custom-white nav-link mr-3'%></li>

          <% else %>
          <li class="nav-item"><%= link_to 'About',public_about_path ,class: 'btn btn-custom-pink btn-custom-white nav-link mr-3'%></li>
          <% end %>
        </ul>
      </div>
      <div class="body">
        <%= yield %>
      </div>
      <div class="aside">
        <% if admin_signed_in? %>
        <% elsif customer_signed_in? %>
        <%= render 'public/customers/info', customer: current_customer %>
        <% else %>
        <% end %>
      </div>
    </main>

  </body>
</html>
